<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::headLibs">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container-fluid">
<div th:replace="layout/layout::navBar"></div>
<div class="row">
    <div th:replace="layout/layout::sideBar"></div>
    <div class="col-md-9">
        <h1>Create new customer</h1>
        <p>
            <a th:href="@{/customers/list}">
                <button class="btn btn-primary me-md-2"
                        style="background: lightgrey">Back to customer list
                </button>
            </a>
        </p>
        <form th:action="@{/customers/create}" th:method="post" th:object="${customer}">
            <div class="col-md-9">
                <label class="form-label">Customer type</label>
                <select th:field="*{customerType}">
                    <option value="">Select</option>
                    <option th:each="customerType : ${customerTypeList}"
                            th:value="${customerType.customerTypeId}"
                            th:text="${customerType.customerTypeName}"></option>
                </select>
            </div>
            <div class="col-md-9">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{customerName}" required>
            </div>
            <div class="col-md-6">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" th:field="*{customerBirthday}" required>
            </div>
            <div class="col-6">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" class="form-control" id="gender" th:field="*{customerGender}" required>
            </div>
            <div class="col-6">
                <label for="idCard" class="form-label">Id Card</label>
                <input type="text" class="form-control" id="idCard" th:field="*{customerIdCard}" pattern="^[0-9]{9}$" required>
                <p th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></p>
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" th:field="*{customerPhone}" pattern="^(090|091|\(84\)\+90|\(84\)\+91)[0-9]{7}$" required>
                <p th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></p>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{customerEmail}" pattern="^[\w\d]+(\.[\w\d]+)?@[\w\d]+\.[\w\d]+(\.[\w\d]+)?$">
                <p th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></p>
            </div>
            <div class="col-md-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{customerAddress}">
            </div>
            <br><br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create customer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>