<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input phone number</title>
</head>
<body>
<form th:action="@{/}" th:method="post" th:object="${phoneNumber}">
  <table>
      <tr>
          <th>Phone number</th>
          <td><input type="text" th:field="*{number}"></td>
      </tr>
  </table>
    <button type="submit">Submit</button>

    <ul th:if="${#fields.hasErrors('number')}" th:errors="*{number}" element="li" delimiter="</li><li>"></ul>
</form>
</body>
</html>